body{
    font-family: 'Roboto', sans-serif;
}

.Features{
    color: #fff;
    background-color: #2F303A;
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
}       

.text1{
    color: #212121;
    position: absolute;
    width: 270px;
    height: 16px;
    left: 50px;
    top: 70px;
}

.text3{
    color: #212121;
    position: absolute;
    width: 270px;
    height: 16px;
    left: 350px;
    top: 70px;
}

.text4{
    color: #212121;
    position: absolute;
    width: 270px;
    height: 16px;
    left: 650px;
    top: 70px;
}

.text5{
    color: #212121;
    position: absolute;
    width: 270px;
    height: 16px;
    left: 950px;
    top: 70px;
}

.text2{
    color: #757575;
    position: absolute;
    width: 270px;
    height: 75px;
    left: 50px;
    top: 100px;
}

.text6{
    color: #757575;
    position: absolute;
    width: 270px;
    height: 75px;
    left: 350px;
    top: 100px;
}

.text7{
    color: #757575;
    position: absolute;
    width: 270px;
    height: 75px;
    left: 650px;
    top: 100px;
}

.text8{
    color: #757575;
    position: absolute;
    width: 270px;
    height: 75px;
    left: 950px;
    top: 100px;
}


.Our-team{
    background-color: #e2e2e2;
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;    
}

.Under{
    background-color: #2F303A;
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    
}

.Web{
    color: #2196F3;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 0px;
}

.Web_1{
    color: #2196F3;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 0px;    
}

.Studio{
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 265px;
    top: 0px; 
}

.city{
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 40px;    
}

.gmail{
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 70px;
}

.tel{
    color: #fff 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 90px;
}

a.nav_link_1{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
}

a.nav_link_2{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
}

a.nav_link_3{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #212121;
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
}

a.nav_link_4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
}

a.nav_link_5{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #757575;
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
}

a.nav_link_1:hover{
    color: #2196F3;
}

a.nav_link_2:hover{
    color: #2196F3;
}

a.nav_link_3:hover{
    color: #2196F3;
}

a.nav_link_4:hover{
    color: #2196F3;
}

a.nav_link_5:hover{
    color: #2196F3;
}

a.link-contact{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF99;   
}

p.button{
    width: 160px;
    color: #ffffff;
    text-decoration: none;
    background: #2196F3;
    padding: 12px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 3px;
    cursor: pointer;     
}

.Studio-1{
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    position: absolute;
    width: 200px;
    height: 60px;
    left: 270px;
    top: 0px;
}

.what{
    position: absolute;
    width: 376px;
    height: 42px;
    left: 450px;
    top: 200px;
}

.pic_1{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 0px;
    top: 300px;
}

.pic_2{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 400px;
    top: 300px;
}

.pic_3{
    position: absolute;
    width: 370px;
    height: 294px;
    left: 800px;
    top: 300px;
}

.About{
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;    
}

.img_1{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 100px;    
}

.img_2{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 100px;  
}

.img_3{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 100px;  
}

.img_4{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 100px;  
}

.team{
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 0px;
}